body{
    box-sizing: border-box;
}

*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.headimg{
    background: url('../images/web1.png') no-repeat fixed center;
    color:whitesmoke;    
}
.jumbotron{
    height: 50vh;
    background-size: cover;
    
}
.jumbotron-override {
    margin-bottom: 0px !important;
}
#sub-text{
    border-bottom: 5px solid red;
}
#projects{
    padding-top: 20px;
}
.links{
    text-decoration: none;
    color: black;
}
.blue-divide{
    background-color: blue;
    height: 5px;
    margin:40px 10px 40px 10px;
}
.pad{
    padding: 20px 0 5px 0;
}
.yellow{
    background-color: rgba(255, 255, 2, 0.8);
}

.bold{
    font-weight: 800;
}
.cont{
    color:white;
} 

.b-red{
    border-radius: 15px;
    border-left: 4px solid red;
    border-right: 4px solid red;
    display: inline-block;
    padding: 0 7px 0 7px;
}
.b-red:hover{
    border-left: 4px solid rgb(82, 82, 238);
    border-right: 4px solid rgb(82, 82, 238);
}
.blur{
    box-shadow: 4px 4px 5px grey;
}
    


@media only screen and (max-width:767px) {
    .shift{
        margin-top: 20px;
    }
    .blue{
        width: 100%;
        height: 7px;
        margin: 0 0 60px 0;
        background-color: rgb(37, 37, 226);
    }
    .jumbotron{
        height: 60vh;
    }
}
@media only screen and (min-width:768px) {
.down{
    margin-top: 20px;
}
#pos{
    position: relative;
}
.hng{
    position: absolute;
    top:120px;
}
}